<div
  class="fixed top-0 left-0 w-screen h-screen overflow-hidden duration-1000 relative"
>
  <div
    class="absolute inset-0 bg-cover bg-center transition-opacity duration-1000"
    style="background-image: url('img/background_day.png')"
    [ngClass]="{ 'opacity-100': isDayMode, 'opacity-0': !isDayMode }"
  ></div>
  <div
    class="absolute inset-0 bg-cover bg-center transition-opacity duration-1000"
    style="background-image: url('img/background_night.png')"
    [ngClass]="{ 'opacity-100': !isDayMode, 'opacity-0': isDayMode }"
  ></div>
  <div
    class="absolute inset-0 flex items-center justify-center"
    (click)="onTitleClick()"
    [ngClass]="{
      'pointer-events-none': titleState === 'hiding' || titleState === 'hidden',
    }"
  >
    <app-title [titleState]="titleState"></app-title>
  </div>

  <app-leaves
    [visible]="titleState === 'hidden'"
    [ngClass]="{
      'pointer-events-none': titleState === 'visible' || titleState === 'hiding',
    }"
  ></app-leaves>

  <div class="bottom-12 right-6 absolute" *ngIf="currentModeAudioReady" [@fadeInControls]>
    <app-day-night-button />
    <app-audio-button />
  </div>
</div>
