@font-face {
  font-family: "Ouvrieres-affamees";
  src: url("/fonts/Ouvrieres-affamees.woff2") format("woff2");
}

* {
  font-family: "Ouvrieres-affamees", sans-serif;
  cursor: url("/img/ant.png") 28 10, auto !important;
}

button, a, [role="button"], .clickable {
  cursor: url("/img/ant.png") 28 10, pointer !important;
}
