<div class="fixed top-0 left-0 w-screen h-screen overflow-hidden relative">
  <app-background [imagesLoaded]="imagesLoaded"></app-background>

  <app-title
    class="absolute top-0 left-0"
    [showInCorner]="true"
    [titleState]="titleState === 'hidden' ? 'visible' : 'hidden'"
  ></app-title>

  <div
    class="absolute inset-0 flex items-center justify-center"
    (click)="onTitleClick()"
    [ngClass]="{
      'pointer-events-none': titleState === 'hiding' || titleState === 'hidden',
    }"
  >
    <app-title [titleState]="titleState"></app-title>
  </div>

  <app-leaves
    [visible]="titleState === 'hidden'"
    [ngClass]="{
      'pointer-events-none': titleState === 'visible' || titleState === 'hiding',
    }"
  ></app-leaves>

  <div
    class="fixed inset-0 z-50 flex items-center justify-center pointer-events-none"
    *ngIf="indexService.isShowing"
  >
    <div class="pointer-events-auto">
      <app-index-overlay></app-index-overlay>
    </div>
  </div>

  <div class="bottom-12 right-6 absolute z-50" [@fadeInControls]>
    <app-index-button />
    <app-day-night-button />
    <app-audio-button />
  </div>
</div>
