<div
  class="fixed top-0 left-0 w-screen h-screen bg-cover bg-center overflow-hidden bg-[url('/img/background_day.png')]"
>
  <div
    class="absolute inset-0 flex items-center justify-center cursor-pointer"
    (click)="onTitleClick()"
    [ngClass]="{
      'pointer-events-none': titleState === 'hidden',
    }"
  >
    <app-title [titleState]="titleState"></app-title>
  </div>

  <app-leaves
    [leavesState]="leavesState"
    [ngClass]="{
      'pointer-events-none': titleState === 'visible',
    }"
  ></app-leaves>

  <div class="bottom-4 right-2 absolute">
    <app-day-night-button />
    <app-audio-button />
  </div>
</div>
