@font-face {
  font-family: "Ouvrieres-affamees";
  src: url("/imaginary-gardens-2/fonts/Ouvrieres-affamees.woff2")
    format("woff2");
}

@font-face {
  font-family: "Sligoil";
  src: url("/imaginary-gardens-2/fonts/Sligoil-Micro.woff2") format("woff2");
}

* {
  font-family: "Ouvrieres-affamees", sans-serif;
}
