@import "tailwindcss";

body {
  cursor: url("/imaginary-gardens-2/img/ant.png") 28 10, auto !important;
}

.ant-grabbing {
  cursor: url("/imaginary-gardens-2/img/ant-grabbing.png") 29 10, grabbing !important;
}

.ant-hover {
  cursor: url("/imaginary-gardens-2/img/ant-hover.png") 28 10, pointer !important;
}

body.ant-grabbing * {
  cursor: url("/imaginary-gardens-2/img/ant-grabbing.png") 29 10, grabbing !important;
}
